# Python virtual environments
venv/
env/
.env/
.venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints

# Local development settings
.env
.env.local

# Test coverage
htmlcov/
.coverage
.coverage.*
coverage.xml

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# data files
data/

# Others
TBD/
chromadb/
password_hash.py
